<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Demo Reactjs Amagumo Lab's</title>
    <script src="lib/react/react.development.js"></script>
    <script src="lib/react/react-dom.development.js"></script>
    <!-- babel-core dung de doc JSX -->
    <script src="lib/babel-core/browser.min.js"></script>
  </head>
  <style>
    .yellow{
      color: red;
    }
    p{
      color: blue;
    }
  </style>
  <body>
    <div id="root"></div>
    <!-- khong duoc thieu type="text/babel" trong the script -->
    <script src="process.js" type="text/babel"></script>
    <!-- <script src="bai1.js" type="text/babel"></script> -->
  </body>
</html>
